@using AssistantWebMySql.Models.DbSets
@model IEnumerable<Update>
@{
    ViewBag.Title = "Список версий";
}

<h2 class="pt-5 text-center">@ViewBag.Title</h2>

@Html.Partial("_AddUpdate", new Update { Version = "1.0.0.x", DownLoadLink = "http://" })

<div class="container-fluid">
    <h4 class="pt-5">Доступные версии:</h4>
    <table class="table">
        <tr>
            <th class="text-center">@Html.DisplayNameFor(model => model.Version)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model.RussianDescription)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model.EnglishDescription)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model.DeutschDescription)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model.ChineseDescription)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model.DownLoadLink)</th>
            <th class="text-center">Удалить</th>
        </tr>
        @foreach (Update item in Model)
        {
            <tr>
                <td class="text-center">@Html.DisplayTextFor(modelItem => item.Version)</td>
                <td class="text-center">@Html.DisplayTextFor(modelItem => item.RussianDescription)</td>
                <td class="text-center">@Html.DisplayTextFor(modelItem => item.EnglishDescription)</td>
                <td class="text-center">@Html.DisplayTextFor(modelItem => item.DeutschDescription)</td>
                <td class="text-center">@Html.DisplayTextFor(modelItem => item.ChineseDescription)</td>
                <td class="text-center">@Html.ActionLink("Скачать", "Download", "Update", new {id = item.Id}, new {@class = "btn btn-info"})</td>
                @using (Html.BeginForm("Delete", "Update", new { id = item.Id }, FormMethod.Post))
                {
                    <td class="text-center"><button type="submit" class="btn btn-danger">Удалить</button></td>
                }
            </tr>
        }
    </table>
</div>
